{% extends 'Intro.html' %}
{% block content %}

{% load static %}
<div id="wrapper">

	<a aria-label="go back" href="index.html" class="position-absolute top-0 start-0 my-2 mx-4 z-index-3 h--70 d-inline-flex align-items-center">
		<img src="{% static 'assets/images/logo/logo_light.svg'%}" width="110" alt="...">
	</a>


	<div class="d-lg-flex text-white min-h-100vh bg-gradient-purple overlay-dark overlay-opacity-5">

		<div class="col-12 col-lg-5 d-lg-flex">
			<div class="w-100 align-self-center">


				<div class="py-7">
					<h1 class="d-inline-block text-align-end text-center-md text-center-xs display-4 h2-xs w-100 max-w-600 w-100-md w-100-xs">
						Bye Bye
						<span class="display-3 h1-xs d-block font-weight-medium">
									
						</span>
					</h1>
				</div>


			</div>
		</div>


		<div class="col-12 col-lg-7 d-lg-flex">
			<div class="w-100 align-self-center text-center-md text-center-xs py-2">


				<form  method="POST" class="bs-validate p-5 py-6 rounded d-inline-block bg-white text-dark w-100 max-w-600">

					<a href="/auth/login/" type="button" class="btn btn-primary btn-soft btn-block">Login Again</button>
					</a>
				</form>

			</div>
		</div>

	</div>

</div>
{% endblock content %}